<ng-container>
    <div class="btn-wrapper">
        <app-play-stop-btn [icon]="'plus'" [text]="'Create Task'" (click)="createTask()"></app-play-stop-btn>
    </div>

    <div class="task d-flex px-2 mt-4">
        <div class="inner-task w-100 d-flex justify-content-between align-items-center me-2 px-4">
            <p class="task-name w-100">Task name</p>
            <div class="time d-flex justify-content-between">
                <p class="total-time">Total time</p>
                <p class="current-time">Current Time</p>
            </div>
        </div>
        <div class="play-stop-btn-container px-2 d-flex justify-content-center align-items-center">
        </div>
    </div>
    <div class="tasks-container d-flex flex-wrap align-content-start">
        <ng-container *ngIf="tasks.length > 0">
            <ng-container *ngFor="let task of tasks; index as idx">
                <app-task (setCurrentTimeState)="setCurrentTimeState($event)" (setTotalTimeState)="setTotalTimeState($event)" (setTaskName)="setTaskName($event, idx)" class="w-100" [c_h]="task.currentTimeHours" [c_m]="task.currentTimeMinutes" [c_s]="task.currentTimeSeconds" [t_h]="task.totalTimeHours" [t_m]="task.totalTimeMinutes" [t_s]="task.totalTimeSeconds" [title]="task.title"></app-task>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="tasks.length <= 0">
            <div class="tasks-container p-5 w-100 d-flex justify-content-center align-items-center">
                No tasks...
            </div>
        </ng-container>
        
    </div>

    <div class="d-flex w-100 justify-content-end mt-4">
        <div class="btn-wrapper me-2">
            <app-play-stop-btn [icon]="'save'" [text]="'Save'" class="" (click)="getDifferenceOfDays()"></app-play-stop-btn>
        </div>
        <div class="btn-wrapper">
            <app-play-stop-btn [icon]="'download'" [text]="'Download'" (click)="download()"></app-play-stop-btn>
        </div>
    </div>

    <p class="p-4 w-100 text-center">The data is stored in the local storage of the browser and will be deleted after the computer is restarted</p>
</ng-container>

